<div class="row">
    <div class="col-8">
        <app-loading *ngIf="loading"></app-loading>

        <div class="card" *ngIf="!loading">
            <div class="card-body">
                <h4 class="card-subtitle">Cotización</h4>

                <div class="row mt-2">
       
                    <div class="col-12">
                        <table class="table table-bordered table-responsive">
                   
                            <tbody >
                                <tr>
                                    <td ><strong>Cliente:</strong></td>
                                    <td>{{ cotizacion['tercero_documento'] }} - {{ cotizacion['tercero_nombre'] }}</td>
                                    <td scope="row"><strong>Estado:</strong></td>
                                    <td>{{ cotizacion['estado']['nombre']}}</td>
                                </tr>
                            
                                <tr>
                                    <td scope="row"><strong>Asesor:</strong></td>
                                    <td colspan="3">
                                       <div *ngIf="cotizacion['asesor'];else sinAsignar">
                                            {{ cotizacion['asesor']['email'] }}
                                       </div> 
                                       <ng-template #sinAsignar>Sin Asignar</ng-template>
                                     </td>
                                </tr>
                                <tr>
                                    <td scope="row"><strong>Producto:</strong></td>
                                    <td colspan="3">
                                        <div class="mb-2" *ngIf="orden['producto']">{{ orden['producto']['equipo']['modelo'] }} - {{ orden['producto']['equipo']['nombre'] }}</div>
                                        <div class="mb-2"><strong>Capacidad:&nbsp;</strong>{{ orden['capacidad']['valor'] | number}}</div>
                                        <div class="mb-2"><strong>Voltaje:&nbsp;</strong>{{ orden['voltaje']['nombre']}}</div>
                                        <div class="mb-2"><strong>Circuito:&nbsp;</strong>{{ orden['circuito']['nombre'] }}</div>
                                        <div class="mb-2" *ngIf="orden['compresor']"><strong>Compresor:&nbsp;</strong>{{ orden['compresor']['referencia'] }} - {{ orden['compresor']['descripcion1'] }}</div>
                                        <div class="mb-2" *ngIf="orden['intercambiador']"><strong>Intercambiador:&nbsp;</strong>{{ orden['intercambiador']['referencia'] }} - {{ orden['intercambiador']['descripcion1'] }}</div>
                                    </td>
                                </tr>
                    
                            </tbody>
                        </table>
                        <table class="table table-bordered table-responsive">
                   
                            <tbody>
                                <tr>
                                    <td><strong>Valor Costo</strong></td>
                                    <td><strong>Mo</strong></td>
                                    <td><strong>Cif</strong></td>
                                    <td><strong>Pvp</strong></td>
                                    <td><strong>Valor venta</strong></td>
                                </tr>
                                <tr>
                                    <td>{{ orden['valor_costo'] | number}}</td>
                                    <td>{{ orden['mo'] | number}}</td>
                                    <td>{{ orden['cif'] | number}}</td>
                                    <td>{{ orden['pvp'] | number}}</td>
                                    <td>{{ orden['valor_venta'] | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>


            </div>
        </div>
        
        <div class="card mt-3" *ngIf="!loading">
            <div class="card-body">
                <h4 class="card-subtitle">Materiales Detalle</h4>
                <table class="table table-bordered table-inverse table-responsive">
                    <thead class="thead-inverse">
                        <tr >
                            <th>TipoAccesorio</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Costo</th>
                            <th>Total</th>
                            <th>Opcion</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor="let item of materiales">
                             <td>{{ item['tipo_accesorio']['nombre']}}</td>
                             <td>{{ item['codigo']}} - {{ item['referencia']}} - {{ item['descripcion1']}}</td>
                             <td>{{ item['cantidad'] | number }}</td>
                             <td>{{ item['valor_costo'] | number}}</td>
                             <td>{{ item['total'] | number}}</td>
                             <td>
                                <div *ngIf="cotizacion['cotestado_id']!=4 && cotizacion['cotestado_id']!=3;else boton">
                                    <button type="button" class="btn btn-inverse-danger" (click)="eliminar_compnte(item)">Quitar</button>
                                </div> 
                                <ng-template #boton>
                                    <div>
                                        Quitar
                                    </div>
                                </ng-template>
                             </td>
                         </tr>
                    </tbody>
                        
                </table>
            </div>
        </div>
   
    </div>

    <div class="col-4">
        <app-registro-cotizacion-detalle [cotizacion_id]="cotizacion" [orden_id]="orden" [materiales_arr]="materiales" *ngIf="!loading && operacion =='guardar' && cotizacion['cotestado_id']!=4" (material_form)="materiales= $event" (cot_form)="show_cotizacion_materiales($event)" ></app-registro-cotizacion-detalle>
        <app-editar-cotizacion-costo [cotizacion_id]="cotizacion" [orden_id]="orden" *ngIf="!loading && operacion =='guardar' && cotizacion['cotestado_id']!=4" (cot_form)="show_cotizacion_materiales($event)"></app-editar-cotizacion-costo>
    </div>
</div>
 

