<div class="row">
    <div class="col-12">

        <div class="row mb-2">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-subtitle">Pedidos</h5>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form class="d-flex" [formGroup]="formBuscarPedido" (ngSubmit)="buscar_pedido()">
                    
                                <input class="form-control me-2"
                                    formControlName="buscarPedido"
                                    type="search" 
                                    placeholder="Buscar Pedidos" aria-label="Search">
                            <button class="btn btn-outline-primary"
                                    type="submit">Buscar</button>

                        </form>
                        <div class="error mt-2 text-danger" 
                                for="buscarPedido" 
                                *ngIf="campoNoValido('buscarPedido')">*buscarPedido: </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                

                <div class="card">
                    <div class="card-body">

                        <div>
                            <button type="button" class="btn btn-inverse-primary mb-2" (click)="crear_pedido()">CrearPedido</button>
                        </div>

                        <app-loading *ngIf="loading"></app-loading>
                        
                        <table *ngIf="!loading" class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Documento</th>
                                    <th>Cliente</th>
                                    <th>Observación Interna</th>
                                    <th>Observación Publica</th>
                                    <th>Dirección</th>
                                    <th>Guia</th>
                                    <th>Estado</th>
                                    <th>Opción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pedido of pedidos">
                                    <td>{{ pedido['documento']}}</td>
                                    <td>
                                        <div class="mb-2"><strong>Cliente:</strong>&nbsp;{{ pedido['tercero_documento']}} - {{ pedido['tercero_nombre']}}</div>
                                        <div class="mb-2"><strong>F.Recibido:</strong>&nbsp;{{ pedido['fecha_recibido']}}</div>
                                    </td>
                                    <td>{{ pedido['observacion_interna']}}</td>
                                    <td>{{ pedido['observacion_publica']}}</td>
                                    <td>{{ pedido['direccion'] }} - {{ pedido['ciudad_nombre'] }}</td>
                                    <td>{{ pedido['guia']}}</td>
                                    <td>
                                        <div [ngSwitch]="pedido['pedidoestado_id']">
                                            <div *ngSwitchCase="1"><label class="badge badge-primary">{{ pedido['pedidoestado_nombre']}}</label></div>
                                            <div *ngSwitchCase="2"><label class="badge badge-warning">{{ pedido['pedidoestado_nombre']}}</label></div>
                                            <div *ngSwitchCase="3"><label class="badge badge-danger">{{ pedido['pedidoestado_nombre']}}</label></div>
                                            <div *ngSwitchCase="4"><label class="badge badge-success">{{ pedido['pedidoestado_nombre']}}</label></div>
                                            <div *ngSwitchDefault>{{ pedido['pedidoestado_nombre']}}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <button type="button" class="btn btn-inverse-dark mb-2" (click)="editar_pedido(pedido)">Editar</button>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-inverse-success" (click)="ver_pedido(pedido)">Ver+</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row mt-5" *ngIf="errors.length>0">
                            <div class="col-12">
                            <div class="alert alert-danger " role="alert">
                                <ul>
                                    <li *ngFor="let error of errors" >{{ error }}</li>
                                </ul>
                            </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



