<div class="card">
    <div class="card-body">
        <h4 class="card-subtitle">Editar Tercero</h4>

        <app-loading *ngIf="loading"></app-loading>

        <form class="cmxform" (ngSubmit)="editar_tercero()" [formGroup]="formTercero" >
            <fieldset>


                <div class="row">

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="">Sucursal:</label>
                            <select class="form-control" formControlName="fiestasucursal_id">
                                <option value="" selected>*Escoja almácen</option>
                                <option [value]="almacen['id']" *ngFor="let almacen of sucursales">{{ almacen['nombre'] | uppercase }}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                for="fiestasucursal_id" 
                            *ngIf="campoNoValido('fiestasucursal_id')">*Escoja almácen: </label>
                        </div>
                        
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="">TipoInvitación:</label>
                            <select class="form-control" formControlName="fiestatipo_id">
                                <option value="" selected>*Escoja tipo</option>
                                <option [value]="tipo['id']" *ngFor="let tipo of tipos">{{ tipo['nombre'] }}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                for="fiestatipo_id" 
                            *ngIf="campoNoValido('fiestatipo_id')">*Escoja tipo: </label>
                        </div>
                        
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="">Documento:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="documento"
                                    placeholder="Digite CC">
                            <label class="error mt-2 text-danger" 
                                for="documento" 
                            *ngIf="campoNoValido('documento')">*Digite documento: </label>
                        </div>
                        
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="">Nombre:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="nombre"
                                    placeholder="Digite nombre">
                            <label class="error mt-2 text-danger" 
                                for="nombre" 
                            *ngIf="campoNoValido('nombre')">*Digite nombre: </label>
                        </div>
                        
                    </div>
                </div>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="">Cupos:</label>
                            <input type="number" 
                                    class="form-control" 
                                    formControlName="cupos"
                                    placeholder="Digite no cupos">
              
                        </div>
                        
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="">Contácto:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="contacto"
                                    placeholder="Digite no">
              
                        </div>
                        
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="">InvitadoDe:</label>
                            <select class="form-control" formControlName="documentoDe">
                                <option value="" selected>*Escoja InvitadoDe</option>
                                <option [value]="invitado['documento']" *ngFor="let invitado of invitados">{{ invitado['documento'] }} - {{ invitado['nombre'] }}</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="">Estado:</label>
                            <select class="form-control" formControlName="fiestaestado_id">
                                <option value="" selected>*Escoja estado</option>
                                <option [value]="tipo['id']" *ngFor="let tipo of estados">{{ tipo['nombre'] }}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                for="fiestaestado_id" 
                            *ngIf="campoNoValido('fiestaestado_id')">*Escoja estado: </label>
                        </div>
                        
                    </div>
                </div>

            
                <button type="submit" class="btn btn-primary">Editar</button> |
                &nbsp;
                <button type="button" class="btn btn-inverse-secundary" (click)="cancelar_editar()">Cancelar</button>

            </fieldset>
        </form>

        <div class="row mt-5" *ngIf="errors.length>0">
            <div class="col-12">
                <div class="alert alert-danger " role="alert">
                    <ul>
                        <li *ngFor="let error of errors" >{{ error }}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>



