<div class="row mt-2">
    <div class="col-md-8">
        <div class="card">
            <app-loading *ngIf="loading"></app-loading>
            
            
            <div class="card-body" *ngIf="!loading">
                <h4 class="card-subtitle">Listado Pedidos</h4>
                
                <table class="table table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>FechaR</th>
                            <th>FechaE</th>
                            <th>Documento:</th>
                            <th>Cliente:</th>
                            <th>BVenta:</th>
                            <th>BOrigen:</th>
                            <th>BDestino:</th>
                            <th>QR</th>
                            <th>Estado:</th>
                            <th>Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of pedidos let i=index">
                            <td scope="row">{{ item['fecha_recibido'] | date:'YYYY-MM-dd' }}</td>
                            <td>{{ item['fecha_entrega'] | date:'YYYY-MM-dd' }}</td>
                            <td>{{ item['documento'] }}</td>
                            <td>{{ item['cliente'] }}</td>
                            <td>{{ item['almacen_venta_nombre'] }}</td>
                            <td>{{ item['almacen_origen_nombre'] }}</td>
                            <td>{{ item['almacen_destino_nombre'] }}</td>
                            <td>
                                <qrcode class="mt-4" [qrdata]="item['qr']" [width]="100" [errorCorrectionLevel]="'M'" [margin]=1></qrcode>
                            </td>
                            <td>{{ item['despacho_estado_nombre'] }}</td>
                            <td>
                                <button type="button" (click)="pedido_editar(item)" class="btn btn-outline-dark btn-sm">Editar</button>
                            </td>
                        </tr>
               
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" *ngIf="!loading && operacion=='guardar'">
            <div class="card-body" >
                <h4 class="card-subtitle">Registro Pedido</h4>
    
                <form class="cmxform mt-2" (ngSubmit)="agregar_pedido()" [formGroup]="formPedido" >
                    <fieldset>
                    
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Fecha recibido:</label>
                                    <input type="date" 
                                        formControlName="fecha_recibido"
                                        class="form-control"
                                        placeholder="Digite fecha recibido" />
                                    <label class="error mt-2 text-danger" 
                                            for="fecha_recibido" 
                                            *ngIf="campoNoValido('fecha_recibido')">*Digite fecha recibido:</label>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Documento:</label>
                                    <input type="text" 
                                        formControlName="documento"
                                        class="form-control"
                                        placeholder="Digite fecha recibido" />
                                    <label class="error mt-2 text-danger" 
                                            for="documento" 
                                            *ngIf="campoNoValido('documento')">*Digite Cot/pedido/factura/remisión:</label>
                                </div>
                            </div>


                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Cliente:</label>
                                    <input type="text" 
                                        formControlName="cliente"
                                        class="form-control"
                                        placeholder="Digite fecha recibido" />
                                    <label class="error mt-2 text-danger" 
                                            for="cliente" 
                                            *ngIf="campoNoValido('cliente')">*Digite Cliente:</label>
                                </div>
                            </div>


                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Cliente Cel/Tel:</label>
                                    <input type="number" 
                                        formControlName="cliente_cel"
                                        class="form-control"
                                        placeholder="Digite fecha recibido" />
                                    <label class="error mt-2 text-danger" 
                                            for="cliente_cel" 
                                            *ngIf="campoNoValido('cliente_cel')">*Digite no Celular/tel cliente:</label>
                                </div>
                            </div>
        
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Bodega venta:</label>
                                    <select formControlName="almacen_venta_id" 
                                            class="form-control">
                                        <option value="" selected>Seleccionar</option>
                                        <option value="{{ almacen['almacen_id']}}" *ngFor="let almacen of almacenes">{{ almacen['almacen_nombre'] }}</option>
                                    </select>
                                    <label class="error mt-2 text-danger" 
                                            for="almacen_venta_id" 
                                            *ngIf="campoNoValido('almacen_venta_id')">*Escoja bodega venta </label>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Bodega Origen:</label>
                                    <select formControlName="almacen_origen_id" 
                                            class="form-control">
                                        <option value="" selected>Seleccionar</option>
                                        <option value="{{ almacen['almacen_id']}}" *ngFor="let almacen of almacenes">{{ almacen['almacen_nombre'] }}</option>
                                    </select>
                                    <label class="error mt-2 text-danger" 
                                            for="almacen_origen_id" 
                                            *ngIf="campoNoValido('almacen_origen_id')">*Escoja bodega origen </label>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Bodega destino:</label>
                                    <select formControlName="almacen_destino_id" 
                                            class="form-control">
                                        <option value="" selected>Seleccionar</option>
                                        <option value="{{ almacen['almacen_id']}}" *ngFor="let almacen of almacenes">{{ almacen['almacen_nombre'] }}</option>
                                    </select>
                                    <label class="error mt-2 text-danger" 
                                            for="almacen_destino_id" 
                                            *ngIf="campoNoValido('almacen_destino_id')">*Escoja bodega destino </label>
                                </div>
                            </div>

                            
                        
                        </div>
                    
                        <button type="submit" class="btn btn-outline-primary">Agregar</button>
                    </fieldset>
                </form>

                <div class="row mt-2" *ngIf="errors.length>0">
                    <div class="col-12">
                        <div class="alert alert-danger " role="alert">
                            <ul>
                                <li *ngFor="let error of errors" >{{ error }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <app-despacho-admin-pedido-update 
                    *ngIf="!loading && operacion=='editar'" 
                    [pedido_id]="pedido_id" 
                    [pedidos_arr]="pedidos" 
                    (pedido_form)="pedidos = $event" 
                    (operacion_editar)="operacion = $event">
        </app-despacho-admin-pedido-update>
    </div>
</div>


