<div class="row">
    <div class="col-8">

        <div class="card" *ngIf="producto">
            <div class="card-body">
                <h4 class="card-subtitle">Equipo</h4>

                <div class="row mt-2">
       
                    <div class="col-12">
                        <table class="table table-responsive">
                   
                            <tbody >
                                <tr>
                                    <td >Capacidad:</td>
                                    <td>{{ producto['capacidad']['valor'] | number}}</td>
                                    <td >Voltaje:</td>
                                    <td>{{ producto['voltaje']['nombre'] }}</td>
                                    <td >Circuitos:</td>
                                    <td>{{ producto['circuito']['nombre'] }}</td>
                                </tr>
                                <tr>
                                    <td >Nombre:</td>
                                    <td colspan="5">{{ producto['equipo']['modelo'] }} - {{ producto['equipo']['nombre'] }}</td>
                                </tr>
                    
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
        
        <div class="card mt-3">
            <div class="card-body">
                <app-loading *ngIf="loading"></app-loading>

                <h4 class="card-subtitle">Listado Materiales</h4>
                <button type="button" *ngIf="compntes.length>0" class="btn btn-inverse-danger" (click)="eliminar_todos_compntes(producto['id'])">Quitar Todos</button>
                <input type="text" class="form-control mt-2" #buscarlm (keydown.enter)="buscar_en_listado(buscarlm.value)" placeholder="Buscar x código">
               
                <table class="table table-bordered table-inverse table-responsive" id="order-listing">
                    <thead class="thead-inverse">
                        <tr >
                            <th>No</th>
                            <th>TipoAccesorio</th>
                            <th>Producto</th>
                            <th>Unidad</th>
                            <th>Cantidad</th>
                            <th>Costo</th>
                            <th>Total</th>
                            <th>Opcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of compntes;let i=index">
                            <td>{{ i + 1}}</td>
                            <td>{{ item['tipo_accesorio']['nombre']}}</td>
                            <td>{{ item['equipo']['codigo']}} - {{ item['equipo']['referencia']}} - {{ item['equipo']['descripcion1']}}</td>
                            <td>{{ item['equipo']['unidad']}}</td>
                            <td>{{ item['cantidad'] | number }}</td>
                            <td>{{ item['equipo']['costo'] | number }}</td>
                            <td>{{ item['cantidad'] * item['equipo']['costo'] | number }}</td>
                            <td>
                                <button type="button" class="btn btn-inverse-danger" (click)="eliminar_compnte(item)">Quitar</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" align="right">Total Costo:</td>
                            <td>{{ totalCosto | number }}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tfoot>   
                </table>
            </div>
        </div>
   
    </div>

    <div class="col-4">
        <app-registro-producto-compnte-cot [producto_id]="producto" [compntes_arr]="compntes" *ngIf="!loading && operacion =='guardar'" (compnte_form)="compntes = $event"></app-registro-producto-compnte-cot>
    </div>
 