<div class="row mt-2">
    <div class="col-6">

        <div class="card">
            <div class="card-body">
                <h4 class="card-subtitle">Editar Grupo</h4>

                <form class="mt-4 cmxform" (ngSubmit)="editar()" [formGroup]="form_grupo" >
                    <fieldset>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control"
                                    formControlName="nombre"
                                    placeholder="Nombre">
                                <label class="error mt-2 text-danger" 
                                       for="nombre" 
                                       *ngIf="campoNoValido('nombre')">*Digite Nombre / Minimo 3 Caracteres</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="Estado">Estado</label>
                                <select formControlName="estado_id" 
                                        class="form-control">
                                    <option value="" selected>Seleccionar</option>
                                    <option value="1">Activo</option>
                                    <option value="2">Inactivo</option>
                                </select>
                                <label class="error mt-2 text-danger" 
                                    for="estado_id" 
                                    *ngIf="campoNoValido('estado_id')">*Debe Escojer Estado grupo.</label>
                            </div>
                        </div>
                    
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </fieldset>
                </form>

            </div>
        </div>

    </div>
</div>


