<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs bg-light">
                    <li class="nav-item">
                       <a class="nav-link" routerLink="/main/categorias/registrar"  aria-current="page" >Crear Categoria|</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h4 class="card-subtitle">Categorias Equipos</h4>
                
                <table *ngIf="!loading" class="table table-bordered table-hover"  id="order-listing">
                    <thead>
                        <tr>
                            <th>Grupo</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let categoria of categorias">
                            <td>{{ categoria['equipo_grupo_nombre'] | lowercase}}</td>
                            <td>{{ categoria['nombre'] | lowercase}}</td>
                            <td *ngIf="categoria['estado_id']==1"><label class="badge badge-success">{{ categoria['estado_nombre'] | uppercase}}</label></td>
                            <td *ngIf="categoria['estado_id']==2"><label class="badge badge-danger">{{ categoria['estado_nombre'] | uppercase}}</label></td>
                            <td>
                                <a class="btn btn-secondary btn-sm" routerLink="/main/categorias/editar/{{categoria['id']}}"><i class="mdi mdi-pencil"></i>Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row mt-5" *ngIf="errors.length>0">
                    <div class="col-12">
                      <div class="alert alert-danger " role="alert">
                         <ul>
                             <li *ngFor="let error of errors" >{{ error }}</li>
                         </ul>
                      </div>
                    </div>
                </div>
                
            </div>
        </div>

        
       
    </div>
</div>


