<div class="row mt-2">
    <div class="col-md-12">
        <div class="card">
            <app-loading *ngIf="loading"></app-loading>
            
            
            <div class="card-body" *ngIf="!loading">
                <h3 class="card-subtitle">Pedido</h3>
                
                <table class="table table-responsive table-bordered">
                    <tbody>
                        <tr>
                            <td>Fecha recibido:</td>
                            <td>{{ pedido['fecha_recibido'] | date:'YYYY-MM-dd' }}</td>
                            <td>Fecha Entrega:</td>
                            <td>{{ pedido['fecha_entrega'] | date:'YYYY-MM-dd' }}</td>
                            <td>Documento:</td>
                            <td>{{ pedido['documento'] }}</td>
                        </tr>

                        <tr>
                            <td>Cliente:</td>
                            <td>{{ pedido['cliente'] }}</td>
                            <td>Cliente Dirección:</td>
                            <td>{{ pedido['cliente_direccion']}}</td>
                            <td>Observaciones:</td>
                            <td>{{ pedido['cliente_comentario'] }}</td>
                        </tr>

                        <tr>
                            <td>BodegaVenta:</td>
                            <td>{{ pedido['almacen_venta_nombre'] }}</td>
                            <td>Vendedor:</td>
                            <td>{{ pedido['vendedor_nombre']}}</td>
                            <td>Bodega Origen:</td>
                            <td>{{ pedido['almacen_origen_nombre'] }}</td>
                        </tr>

                        <tr>
                            <td>BodegaDestino:</td>
                            <td>{{ pedido['almacen_destino_nombre'] }}</td>
                            <td>Esatdo:</td>
                            <td>{{ pedido['despacho_estado_nombre']}}</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
               
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>

   
</div>
<div class="row mt-3">
    <div class="col-md-8">

        <div class="card">
            <div class="card-body" *ngIf="!loading">
                
                <h4 class="card-subtitle">Listado Archivo</h4>
                
                <table class="table table-bordered table-inverse table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo Archivo</th>
                            <th>Opcion</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let archivo of archivos">
                                <td scope="row"><a [href]="archivo['url']|imagen" target="_blank" >{{ archivo['nombre']}}</a></td>
                                <td>{{ archivo['file_type_nombre']}}</td>
                                <td>
                                    <a class="btn btn-inverse-danger " (click)="eliminar_archivo(archivo)">Eliminar</a>
                                </td>
                            </tr>
                
                        </tbody>
                </table>

            </div>
        </div>
        
    </div>

    <div class="col-md-4">

        <div class="card">
            <app-loading *ngIf="loading"></app-loading>
            <div class="card-body" *ngIf="!loading">
                
                <h4 class="card-subtitle">Subir Archivo</h4>
     
                <form class="cmxform" (ngSubmit)="agregar_file()" [formGroup]="form_file">
                    <fieldset>


                        <div class="row">
                                    
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">Nombre Archivo:</label>
                                    <input type="text" 
                                            class="form-control" 
                                            formControlName="nombre">
                                    <label class="error mt-2 text-danger" 
                                        for="nombre" 
                                    *ngIf="campoNoValido('nombre')">*Digite nombre de Archivo</label>
                                </div>
                                
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">Archivo:</label>
                                    <input type="file" class="form-control" formControlName="file"
                                            (change)="file_cargar($event.target.files[0])" >
                                    <label class="error mt-2 text-danger" 
                                        for="file" 
                                        *ngIf="campoNoValido('file')">*Escoja Archivo</label>
                                </div>
                            </div>

                        </div>
                    
                        <button type="submit" class="btn btn-outline-primary">Agregar</button>
                    </fieldset>
                </form>

                <div class="row mt-5" *ngIf="errors.length>0">
                    <div class="col-12">
                        <div class="alert alert-danger " role="alert">
                            <ul>
                                <li *ngFor="let error of errors" >{{ error }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</div>


