<div class="row">
    <div class="col-8">
        
        <div class="card ">
            <div class="card-body">
                <h4 class="card-subtitle">Listado Costos</h4>
                <table class="table table-bordered table-inverse table-responsive">
                    <thead class="thead-inverse">
                        <tr >
                            <th>Capacidad</th>
                            <th>Voltaje</th>
                            <th>Circuitos</th>
                            <th>Producto</th>
                            <th>Estado</th>
                            <th>Opcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of equipos">
                            <td>{{ item['capacidad']['valor'] | number}}</td>
                            <td>{{ item['voltaje']['nombre']}}</td>
                            <td>{{ item['circuito']['nombre']}}</td>
                            <td>{{ item['equipo']['modelo']}} - {{ item['equipo']['nombre']}}</td>
                            <td>{{ item['estado']['nombre']}}</td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-secondary mb-2" (click)="editar_producto(item)">Editar</button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-secondary" (click)="link_componentes(item)">Compntes</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                        
                </table>
            </div>
        </div>
   
    </div>

    <div class="col-4">
        <app-registro-producto-cot [equipos_arr]="equipos" *ngIf="!loading && operacion =='guardar'" (equipo_form)="equipos = $event"></app-registro-producto-cot>
        <app-editar-producto-cot [equipos_arr]="equipos" [equipo_id]="equipo_id" *ngIf="!loading && operacion =='editar'"  (operacion_form)="operacion = $event" (equipo_form)="equipos = $event"></app-editar-producto-cot>
    </div>
 
