<div class="row">
    <div class="col-12">

        <div class="row mb-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-subtitle">Informe Pedidos</h5>
                    </div>
                </div>
            </div>

         
        </div>

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">

                        <table *ngIf="!loading" class="table table-bordered table-hover table-responsive" id="order-listing">
                            <thead>
                                <tr>
                                    <th>Documento</th>
                                    <th>Cliente</th>
                                    <th>Observación interna</th>
                                    <th>Observación publica</th>
                                    <th>Guia</th>
                                    <th>Dirección</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pedido of pedidos">
                                    <td>{{ pedido['documento']}}</td>
                                    <td>
                                        <div class="mb-2"><strong>Cliente:</strong>&nbsp;{{ pedido['tercero_documento']}} - {{ pedido['tercero_nombre']}}</div>
                                        <div class="mb-2"><strong>F.Recibido:</strong>&nbsp;{{ pedido['fecha_recibido']}}</div>
                                    </td>
                   
                                    <td>{{ pedido['observacion_interna']}}</td>
                                    <td>{{ pedido['observacion_publica']}}</td>
                                    <td>{{ pedido['guia']}}</td>
                                    <td>{{ pedido['direccion']}} -  {{ pedido['ciudad_nombre']}}</td>
                                    <td>
                                        <div [ngSwitch]="pedido['pedidoestado_id']">
                                            <div *ngSwitchCase="1"><label class="badge badge-primary">{{ pedido['pedidoestado_nombre']}}</label></div>
                                            <div *ngSwitchCase="2"><label class="badge badge-warning">{{ pedido['pedidoestado_nombre']}}</label></div>
                                            <div *ngSwitchCase="3"><label class="badge badge-danger">{{ pedido['pedidoestado_nombre']}}</label></div>
                                            <div *ngSwitchCase="4"><label class="badge badge-success">{{ pedido['pedidoestado_nombre']}}</label></div>
                                            <div *ngSwitchDefault>{{ pedido['pedidoestado_nombre']}}</div>
                                        </div>
                                    </td>
                     
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
