<div class="row">
    <div class="col-12">

        <div class="row mb-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-subtitle">Informe Pedidos Producción</h5>
                    </div>
                </div>
            </div>

         
        </div>

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">

                        <table *ngIf="!loading" class="table table-bordered table-hover table-responsive" id="order-listing">
                            <thead>
                                <tr>
                                    <th>Documento</th>
                                    <th>Cliente</th>
                                    <th>Productos</th>
                                    <th>Descripción</th>
                                    <th>Costo</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pedido of pedidos">
                                    <td>{{ pedido['pedidotipo_nombre']}} - {{ pedido['documento']}}</td>
                                    <td>
                                        <div class="mb-2"><strong>Cliente:</strong>&nbsp;{{ pedido['tercero_documento']}} - {{ pedido['tercero_nombre']}}</div>
                                        <div class="mb-2"><strong>F.Recibido:</strong>&nbsp;{{ pedido['fecha_recibido']}}</div>
                                        <div class="mb-2"><strong>F.Entrega:</strong>&nbsp;{{ pedido['fecha_entrega']}}</div>
                                        <div class="mb-2"><strong>Dias Entrega:</strong>&nbsp;{{ pedido['dias_entrega']}}</div>
                                        <div class="mb-2"><strong>Vendedor:</strong>&nbsp;{{ pedido['vendedor_email']}}</div>
                                        <div class="mb-2"><strong>Almácen:</strong>&nbsp;{{ pedido['almacen_nombre']}}</div>
                                    </td>
                                    <td>
                                        <table class="table2">
                                            <thead>
                                                <tr>
                                                    <td>Código</td>
                                                    <td>Referencia</td>
                                                    <td>Cantidad</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let orden of pedido['ordenes']">
                                                    <td>{{ orden['equipo_codificacion']}}</td>
                                                    <td>{{ orden['equipo_modelo']}}</td>
                                                    <td>{{ orden['cantidad']}}</td>
                                                </tr>
                                            </tbody>

                                        </table>
                                        
                                    </td>
                                    <td>{{ pedido['observacion']}}</td>
                                    <td>{{ pedido['valor_costo'] | number}}</td>
                                    <td>{{ pedido['pedidoestado_nombre']}}</td>
                     
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
