<div class="row ">

    <div class="col-10">
        
        <div id="fondo_biblioteca">
            <h4 id="fondo_biblioteca_titulo">Biblioteca de Equipos</h4>
        </div>
      
    </div>
</div>

<div class="row mt-2">

    <div class="col-10">

        <div class="card">
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="d-flex ">
                            <input  class="form-control mr-2"
                                    type="search" 
                                    placeholder="Buscar x código, referencia, descripción producto" aria-label="Search" 
                                    #buscar>
                            <select class="form-control select2-container--default mr-2" 
                                    #tipoArchivo>
                                <option value="">Escoja tipo Información</option>
                                <option [value]="file_type['id']" *ngFor="let file_type of file_types">{{file_type['nombre']}}</option>
                            </select>  
                                   
                            <button class="btn btn-inverse-primary"
                                    type="submit"
                                    (click)="buscar_equipos( buscar.value,tipoArchivo.value)">Consultar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <app-loading *ngIf="loading"></app-loading>    

    </div>
</div>


<div class="row mt-2">
    
    <div class="col-10">
        <h4 class="card-subtitle">Archivos</h4>
        <div class="card">
            <div class="card-body" *ngIf="archivos">

                <table class="table" *ngFor="let archivo of archivos">
                    <tr>
                        <td>
                            <div><strong>Tipo:</strong>&nbsp;{{ archivo['tipo']}}</div>
                            <div class="mt-2"><strong>Nombre:</strong>&nbsp;<a [href]="archivo['url'] | imagen" target="_blank">{{ archivo['nombre']}}</a></div>
                            <div class="mt-2"><strong>Código Producto:</strong>&nbsp;{{ archivo['equipo_codificacion']}}&nbsp;<strong>Referencia:</strong>&nbsp;{{ archivo['equipo_modelo']}}</div>
                            <div class="mt-2"><strong>Nombre Producto:</strong>&nbsp;{{ archivo['equipo_nombre']}}</div>
                            <a routerLink="/main/dashboard/detalle/{{archivo['equipo_id']}}" class="btn btn-block btn-inverse-secondary mt-2" >VerMás</a>
                        </td>
                        <td>
                            <img [src]="archivo['equipo_imagen'] | imagen:'thumb'" [alt]="archivo['equipo_nombre']">
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

    <!-- <div class="col-3">

        <h4 class="card-subtitle">Productos</h4>

        <div class="row row-cols-1 " *ngIf="equipos && !loading">

            <div class="col-6 mb-3" *ngFor="let equipo of equipos">
                <div class="card border-primary" >
                    <div class="card-body">
                        <img [src]="equipo['imagen'] | imagen:'thumb'" class="card-img-top" [alt]="equipo['modelo']">
                        
                        <h5 class="card-title mt-2 text-center"><strong>Código Siesa:</strong>&nbsp;&nbsp;{{ equipo['codificacion'] | uppercase}}</h5>

                        <ul class="list-group list-group-flush mb-2">
                            <li class="list-group-item">
                                <div><strong>Descripción Siesa :</strong></div>
                                <div>{{ equipo['nombre'] | uppercase}}</div>
                            </li>
                            <li class="list-group-item">
                                <div><strong>Referencia:</strong></div>
                                <div>{{ equipo['modelo'] | uppercase}}</div>
                            </li>
                            <li class="list-group-item">
                                <strong>Estado:</strong>&nbsp;&nbsp;
                                <span *ngIf="equipo['equipo_estado_id']==2"><label class="badge badge-success">{{ equipo['equipo_estado_nombre'] | uppercase}}</label></span>
                                <span *ngIf="equipo['equipo_estado_id']==1"><label class="badge badge-warning">{{ equipo['equipo_estado_nombre'] | uppercase}}</label></span>
                                <span *ngIf="equipo['equipo_estado_id']==3"><label class="badge badge-danger">{{ equipo['equipo_estado_nombre'] | uppercase}}</label></span>
                            </li>
                        </ul>
                        
                        <a routerLink="/main/dashboard/detalle/{{equipo['id']}}" class="btn btn-block btn-inverse-primary" >Info</a>
                        
                    </div>
                </div>
            </div>
            
        </div>
       
    </div> -->
</div>
