<div class="card">
    <div class="card-body">
        <h4 class="card-subtitle">Editar Orden</h4>

        <form class="cmxform" (ngSubmit)="editar_orden()" [formGroup]="formOrden" >
            <fieldset>


                <div class="row">

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Producto:</label>
                            <select class="form-control" formControlName="equipo_id">
                                <option [value]="orden_id['equipo_id']">{{ orden_id['equipo_codificacion']}} - {{ orden_id['equipo_modelo']}} - {{ orden_id['equipo_nombre']}}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                for="equipo_id" 
                            *ngIf="campoNoValido('equipo_id')">*Escoja equipo: </label>
                        </div>
                        
                    </div>


                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Cantidad:</label>
                            <input type="number" 
                                    class="form-control" 
                                    formControlName="cantidad">
                            <label class="error mt-2 text-danger" 
                                    for="cantidad" 
                                *ngIf="campoNoValido('cantidad')">*Digite Cantidad: </label>
                        </div>
                        
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">No.Solidword:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="solidwork">
                        
                        </div>
                        
                    </div>
       
                </div>
                <div class="row"> 
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Op Ensamble:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="op_ensamble">
                        </div>
                        
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Op Laminado:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="op_laminado">
            
                        </div>
                        
                    </div>
                </div>

                <div class="row">    

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Op Serpertin</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="op_serpertin">
                        </div>
                        
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Op Electrica:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="op_electrica">
            
                        </div>
                        
                    </div>
            
                    
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Op Refri:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="op_refri">
            
                        </div>
                        
                    </div>
                </div>


                <div class="row">

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Observación interna:</label>
                            <textarea rows="5"
                                      class="form-control"
                                      formControlName="observacion_interna"></textarea>
              
                        </div>
                        
                    </div>
       
                </div>
            
                <button type="submit" class="btn btn-inverse-primary"  [disabled]="loading">Editar</button>&nbsp;||&nbsp;<button type="submit" class="btn btn-inverse-secundary" (click)="cancelar_editar()">Cancelar</button>

            </fieldset>
        </form>

        <div class="row mt-5" *ngIf="errors.length>0">
            <div class="col-12">
                <div class="alert alert-danger " role="alert">
                    <ul>
                        <li *ngFor="let error of errors" >{{ error }}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
