<div class="row">
    <div class="col-8">
        <app-loading *ngIf="loading"></app-loading>

        <div class="card" *ngIf="!loading">
            <div class="card-body">
                <h4 class="card-subtitle">Cotización</h4>

                <div class="row mt-2">
       
                    <div class="col-12">
                        <table class="table table-bordered table-responsive">
                   
                            <tbody >
                                <tr>
                                    <td ><strong>Cliente:</strong></td>
                                    <td>{{ cotizacion['tercero_documento'] }} - {{ cotizacion['tercero_nombre'] }}</td>
                                    <td scope="row"><strong>Estado:</strong></td>
                                    <td>{{ cotizacion['estado']['nombre']}}</td>
                                </tr>
                            
                                <tr>
                                    <td scope="row"><strong>Asesor:</strong></td>
                                    <td colspan="3">
                                       <div *ngIf="cotizacion['asesor'];else sinAsignar">
                                            {{ cotizacion['asesor']['email'] }}
                                       </div> 
                                       <ng-template #sinAsignar>Sin Asignar</ng-template>
                                     </td>
                                </tr>
                    
                            </tbody>
                        </table>
                        
                    </div>
                </div>


            </div>
        </div>
        
        <div class="card mt-3" *ngIf="!loading">
            <div class="card-body">
                <h4 class="card-subtitle">Productos</h4>
                <table class="table table-bordered table-inverse table-responsive">
                    <thead class="thead-inverse">
                        <tr >
                            <th>Producto</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Costo</th>
                            <th>Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orden of ordenes">
                            <td>{{ orden['producto']['equipo']['modelo']}} - {{ orden['producto']['equipo']['nombre']}}</td>
                            <td>
                                <div class="mb-2"><strong>Capacidad:&nbsp;</strong>{{ orden['capacidad']['valor'] | number}}</div>
                                <div class="mb-2"><strong>Voltaje:&nbsp;</strong>{{ orden['voltaje']['nombre']}}</div>
                                <div class="mb-2"><strong>Circuito:&nbsp;</strong>{{ orden['circuito']['nombre'] }}</div>
                                <div class="mb-2" *ngIf="orden['compresor']"><strong>Compresor:&nbsp;</strong>{{ orden['compresor']['referencia'] }} - {{ orden['compresor']['descripcion1'] }}</div>
                                <div class="mb-2" *ngIf="orden['intercambiador']"><strong>Intercambiador:&nbsp;</strong>{{ orden['intercambiador']['referencia'] }} - {{ orden['intercambiador']['descripcion1'] }}</div>
                            </td>
                            <td>{{ orden['cantidad']}}</td>
                            <td>
                                <div class="mb-2"><strong>Costo:&nbsp;</strong>{{ orden['valor_costo'] | number}}</div>
                                <div class="mb-2"><strong>Mo:&nbsp;</strong>{{ orden['mo'] | number}}</div>
                                <div class="mb-2"><strong>Cif:&nbsp;</strong>{{ orden['cif'] | number}}</div>
                                <div class="mb-2"><strong>Pvp:&nbsp;</strong>{{ orden['pvp'] | number}}</div>
                                <div class="mb-2"><strong>Valor Venta:&nbsp;</strong>{{ orden['valor_venta'] | number}}</div>
                            </td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-inverse-danger" (click)="eliminar_producto(orden)">Quitar</button>
                                </div>
                                <div class="mt-2">
                                    <button type="button" class="btn btn-secondary" (click)="link_detalle(cotizacion['id'],orden['id'])">Materiales</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                        
                </table>
            </div>
        </div>
   
    </div>

    <div class="col-4">
        <app-registro-cotizacion-orden [cotizacion_id]="cotizacion" *ngIf="!loading && operacion =='guardar' && cotizacion['cotestado_id']!=4" (cotizacion_form)="show_cotizacion($event)"></app-registro-cotizacion-orden>
    </div>
</div>
 


