<div class="row mt-2">
    <div class="col-8">

        <div class="card" *ngIf="equipo">
            <div class="card-body">
                <h4 class="card-subtitle">Equipo</h4>

                <div class="row mt-2">
                    <div class="col-4">
                        <div [ngStyle]="{width: '200px'}" >
                            <img [src]="equipo['imagen'] | imagen" [alt]="equipo['nombre']" class="img img-thumbnail">
                        </div>
                    </div>
                    <div class="col-8">
                        <table class="table table-responsive">
                   
                            <tbody >
                                <tr>
                                    <td scope="row">Nombre:</td>
                                    <td>{{ equipo['nombre'] }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Estado:</td>
                                    <td>{{ equipo['equipo_estado_nombre'] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
        
        <div class="card mt-3">
            <div class="card-body">
                <h4 class="card-subtitle">Listado Caracteristicas</h4>
                <table class="table table-bordered table-inverse table-responsive">
                    <thead class="thead-inverse">
                        <tr >
                            <th>Descripción</th>
                            <th>Unidad</th>
                            <th>Valor</th>
                            <th>Opcion</th>
                        </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let caract of caracteristicas">
                                <td>{{ caract['caracteristica_nombre']}}</td>
                                <td>{{ caract['unidad_nombre']}}</td>
                                <td>{{ caract['valor']}}</td>
                                <td>
                                    <button class="btn btn-secondary" (click)="editar_caracteristica(caract)"><i class="mdi mdi-pencil"></i>Editar</button>&nbsp;
                                    <button class="btn btn-inverse-danger" (click)="eliminar_caracteristica(caract)">Eliminar</button>
                                </td>
                            </tr>
                
                        </tbody>
                </table>
            </div>
        </div>
   
    </div>

    <div class="col-4">
        <app-registro-caracteristica-equipos [equipo_id]="equipo['id']" *ngIf="!loading && operacion =='guardar'" (caracteristicas_form)="caracteristicas = $event"></app-registro-caracteristica-equipos>
        <app-editar-caracteristica-equipos [caract_item]="caract_item" [equipo_id]="equipo['id']" *ngIf="!loading && operacion =='editar'" (caracteristicas_form)="caracteristicas = $event" (operacion_form)="operacion = $event"></app-editar-caracteristica-equipos>
    </div>
 