<div class="row mt-2">
    <div class="col-md-8">
        <div class="card">
            <app-loading *ngIf="loading"></app-loading>
            
            <div class="card-body">
                
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Concepto</th>
                            <th>Asesor</th>
                            <th>Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let postv of postventas; let i=index">
                            <td scope="row">{{ postv['infor_v_postv_dir_concepto_nombre']}}</td>
                            <td scope="row">
                                <div class="mb-2">
                                    {{ postv['user_venta_nombre']}}
                                </div>
                                <div>
                                    <div class="font-weight-bold mb-2">Comentarios:</div>
                                    <textarea 
                                        rows="5"
                                        class="form-control"
                                        [ngStyle]="{width:'200px',padding:'5px'}"
                                        [name]="i" #observacion>{{ postv['observacion']}}</textarea>
                                </div>
                                    
                            </td>
                            <td>
                                <button type="button" (click)="update_concepto_postvdir(i,observacion.value,postv)" class="btn btn-outline-success btn-fw"><i class="mdi mdi-content-save"></i>Guardar</button>
                            </td>
                        </tr>
               
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
            
                    <form class="cmxform mt-3" (ngSubmit)="agregar_postvdir()" [formGroup]="formPostVenta" >
                        <fieldset>
            
                        
                            <div class="row">
            
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Concepto:</label>
                                        <select formControlName="infor_v_postv_dir_concepto_id" 
                                                class="form-control">
                                            <option value="" selected>Seleccionar</option>
                                            <option value="{{ concepto['id']}}" *ngFor="let concepto of conceptos">{{ concepto['nombre'] }}</option>
                                        </select>
                                        <label class="error mt-2 text-danger" 
                                                for="infor_v_postv_dir_concepto_id" 
                                                *ngIf="campoNoValido('infor_v_postv_dir_concepto_id')">*Escoja Concepto</label>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Usuario:</label>
                                        <select formControlName="user_venta_id" 
                                                class="form-control">
                                            <option value="" selected>Seleccionar</option>
                                            <option value="{{ usuario['user_id']}}" *ngFor="let usuario of usuarios">{{ usuario['user_email'] }}</option>
                                        </select>
                                        <label class="error mt-2 text-danger" 
                                                for="user_venta_id" 
                                                *ngIf="campoNoValido('user_venta_id')">*Escoja usuario</label>
                                    </div>
                                </div>
            
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Comentarios:</label>
                                        <textarea 
                                                rows="5"
                                                formControlName="observacion"
                                                class="form-control"
                                                placeholder="Digite algún comentario"></textarea>
                      
                                        <label class="error mt-2 text-danger" 
                                                for="observacion" 
                                                *ngIf="campoNoValido('observacion')">*Digite Comentarios.</label>
                                    </div>
                                </div>
            
                            
                            </div>
                        
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </fieldset>
                    </form>

                    <div class="row mt-2" *ngIf="errors.length>0">
                        <div class="col-12">
                          <div class="alert alert-danger " role="alert">
                             <ul>
                                 <li *ngFor="let error of errors" >{{ error }}</li>
                             </ul>
                          </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>



