<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
   
        <div class="card">
            <div class="card-body">
    
                <form (ngSubmit)="buscar_tercero()" [formGroup]="formBuscar" >
                    
                    <div class="form-group">
                        <label for="">Buscar x Cedula/nombre:</label>
                        <input type="text" 
                                class="form-control" 
                                formControlName="termino"
                                placeholder="Buscar cedula/nombre...">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>


    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

        <div class="card">
            <div class="card-body ">

                <div class="form-group">
                    <label for="">Buscar x Sucursal:</label>        
                    <select class="form-control" [formControl]="sucursal">
                        <option value="" selected>*Escoja sucursal</option>
                        <option [value]="almacen['id']" *ngFor="let almacen of sucursales">{{ almacen['nombre'] | uppercase }}</option>
                    </select>
                </div>
                
            </div>

        </div>
    </div>

</div>

<div class="row mt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <app-loading *ngIf="loading"></app-loading>

        <div class="card">
            <div class="card-body">

                <a [routerLink]="['/main/evento/crear']" class="btn btn-secondary">Nuevo</a>

                <h4 class="card-subtitle">Invitados</h4>
                
                <table *ngIf="!loading" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Sucursal</th>
                            <th>Tipo</th>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th>InvitadoDe</th>
                            <th>Cupos</th>
                            <th>Estado</th>
                            <th>Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tercero of terceros; let i=index">
                            <td>{{ i+1}}</td>
                            <td>{{ tercero['fiestasucursal_nombre'] | uppercase}}</td>
                            <td>{{ tercero['fiestatipo_nombre'] | uppercase}}</td>
                            <td>{{ tercero['documento']}}</td>
                            <td>{{ tercero['nombre'] | uppercase}}</td>
                            <td>{{ tercero['documentoDe']}} -{{ tercero['documentoDeNombre']}}</td>
                            <td>{{ tercero['cupos']}}</td>
                            <td *ngIf="tercero['fiestaestado_id']==4"><label class="badge badge-success">{{ tercero['fiestaestado_nombre'] | uppercase}}</label></td>
                            <td *ngIf="tercero['fiestaestado_id']==2"><label class="badge badge-warning">{{ tercero['fiestaestado_nombre'] | uppercase}}</label></td>
                            <td *ngIf="tercero['fiestaestado_id']==3"><label class="badge badge-dark">{{ tercero['fiestaestado_nombre'] | uppercase}}</label></td>
                            <td *ngIf="tercero['fiestaestado_id']==1"><label class="badge badge-danger">{{ tercero['fiestaestado_nombre'] | uppercase}}</label></td>
                            <td>
                                <div>
                                    <a [routerLink]="['/main/evento/editar/',tercero['id']]" class="btn btn-secondary">Editar</a>
                                </div>
                                <div class="mt-2">
                                    <a [routerLink]="['/main/evento/ver/',tercero['id']]" class="btn btn-secondary">Ver</a>
                                </div>

                                <div class="mt-2">
                                    <button type="button" class="btn btn-secondary" (click)="ver_qr(tercero)">Qr</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row mt-5" *ngIf="errors.length>0">
                    <div class="col-12">
                      <div class="alert alert-danger " role="alert">
                         <ul>
                             <li *ngFor="let error of errors" >{{ error }}</li>
                         </ul>
                      </div>
                    </div>
                </div>
                
            </div>
        </div>
       
    </div>
  
</div>



