    <!-- partial -->
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar" >
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="../../../assets/images/faces/face8.jpg" alt="profile image"> </div>
                <div class="text-wrapper">
                  <p class="profile-name">{{ usuario.name}}</p>
                  <div>
                    <small class="designation text-muted">{{ usuario.email}}</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>

            </div>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngFor="let enlace of menu">
            <a class="nav-link" data-toggle="collapse" href="#{{enlace['categoria']}}-dropdown" aria-expanded="false" aria-controls="{{enlace['categoria']}}-dropdown">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">{{enlace['categoria']}}</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="{{enlace['categoria']}}-dropdown">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item" *ngFor="let item of enlace['enlaces']">
                  <a class="nav-link" [routerLink]="item['url']" routerLinkActive="active">{{item['nombre']}}</a>
                </li>
              </ul>
            </div>
          </li>

    
        </ul>
      </nav>