<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
 
    <app-header></app-header>
    <!-- partial -->
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
  
      <app-sidebar></app-sidebar>
  
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper"> 
                  
             <router-outlet></router-outlet>
  
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2021 Confortfresh</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
  
    </div>
    <!-- page-body-wrapper ends -->
</div>
