<div class="row mt-2">
    <div class="col-10">

        <div class="card">
            <div class="card-body">
                <h4 class="card-subtitle">Registro Categoria</h4>

                <form class="mt-4 cmxform" (ngSubmit)="guardar()" [formGroup]="form_categoria" >
                    <fieldset>
                        <div class="form-row">
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Grupo:</label>
                                    <select formControlName="equipo_grupo_id" 
                                            class="form-control">
                                        <option value="" selected>Seleccionar</option>
                                        <option value="{{ grupo['id']}}" *ngFor="let grupo of grupos">{{ grupo['nombre'] }}</option>
                                    </select>
                                    <label class="error mt-2 text-danger" 
                                            for="equipo_grupo_id" 
                                            *ngIf="campoNoValido('equipo_grupo_id')">*Escoja grupo</label>
                       
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control"
                                    formControlName="nombre"
                                    placeholder="Nombre">
                                <label class="error mt-2 text-danger" 
                                       for="nombre" 
                                       *ngIf="campoNoValido('nombre')">*Digite Nombre / Minimo 3 Caracteres</label>
                            </div>

                            
                        </div>
                    
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </fieldset>
                </form>

            </div>
        </div>

    </div>
</div>


