<div class="card">
    <div class="card-body">
        <h4 class="card-subtitle">Editar Cotización</h4>

        <form class="cmxform" (ngSubmit)="editarCotizacion()" [formGroup]="formCotizacion" *ngIf="!loading" >
            <fieldset>
                    

                <div class="row">

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">CC/NIT:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="tercero_documento"
                                    placeholder="*CC/NIT">
                            <label class="error mt-2 text-danger" 
                                    for="tercero_documento" 
                                    *ngIf="campoNoValido('tercero_documento')">*Digite CC/NIT</label>
                        </div>
                        
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Nombre/Razón Social:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="tercero_nombre"
                                    placeholder="*Nombre/Razón Social">
                            <label class="error mt-2 text-danger" 
                                    for="tercero_nombre" 
                                    *ngIf="campoNoValido('tercero_nombre')">*Digite Nombre/Razón Social</label>
                        </div>
                        
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Direccion Proyecto:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="tercero_direccion"
                                    placeholder="*Direccion Proyecto">
                            <label class="error mt-2 text-danger" 
                                    for="tercero_direccion" 
                                    *ngIf="campoNoValido('tercero_direccion')">*Digite Direccion Proyecto</label>
                        </div>
                        
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Email:</label>
                            <input type="email" 
                                    class="form-control" 
                                    formControlName="tercero_email"
                                    placeholder="*Email contacto">
                            <label class="error mt-2 text-danger" 
                                    for="tercero_email" 
                                    *ngIf="campoNoValido('tercero_email')">*Digite Email</label>
                        </div>
                        
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Celular:</label>
                            <input type="number" 
                                    class="form-control" 
                                    formControlName="tercero_celular"
                                    placeholder="*Celular contacto">
                            <label class="error mt-2 text-danger" 
                                    for="tercero_celular" 
                                    *ngIf="campoNoValido('tercero_celular')">*Digite Celular</label>
                        </div>
                        
                    </div>
                            
                    
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Observacion Equipo Cotizar:</label>
                            <textarea class="form-control" 
                                      formControlName="observacion_cliente" 
                                      rows="5">
                            </textarea>
                        </div>
                        
                    </div>
   
                </div>
            
                <button type="submit" class="btn btn-inverse-primary">Editar</button> | <button type="button" class="btn btn-secondary" (click)="editarcancelar()">Cancelar</button>
            </fieldset>
        </form>
        <app-loading *ngIf="loading"></app-loading>

        <div class="row mt-5" *ngIf="errors.length>0">
            <div class="col-12">
                <div class="alert alert-danger " role="alert">
                    <ul>
                        <li *ngFor="let error of errors" >{{ error }}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>



