<div class="card">
    <div class="card-body">
        <h4 class="card-subtitle">Editar Cotización</h4>

        <form class="cmxform" (ngSubmit)="editarCotizacion()" [formGroup]="formCotizacion" *ngIf="!loading" >
            <fieldset>
                    

                <div class="row">

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">CC/NIT:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="tercero_documento"
                                    placeholder="*CC/NIT">
                            <label class="error mt-2 text-danger" 
                                    for="tercero_documento" 
                                    *ngIf="campoNoValido('tercero_documento')">*Digite CC/NIT</label>
                        </div>
                        
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Nombre/Razón Social:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="tercero_nombre"
                                    placeholder="*Nombre/Razón Social">
                            <label class="error mt-2 text-danger" 
                                    for="tercero_nombre" 
                                    *ngIf="campoNoValido('tercero_nombre')">*Digite Nombre/Razón Social</label>
                        </div>
                        
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Direccion Proyecto:</label>
                            <input type="text" 
                                    class="form-control" 
                                    formControlName="tercero_direccion"
                                    placeholder="*Direccion Proyecto">
                            <label class="error mt-2 text-danger" 
                                    for="tercero_direccion" 
                                    *ngIf="campoNoValido('tercero_direccion')">*Digite Direccion Proyecto</label>
                        </div>
                        
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Email:</label>
                            <input type="email" 
                                    class="form-control" 
                                    formControlName="tercero_email"
                                    placeholder="*Email contacto">
                            <label class="error mt-2 text-danger" 
                                    for="tercero_email" 
                                    *ngIf="campoNoValido('tercero_email')">*Digite Email</label>
                        </div>
                        
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Celular:</label>
                            <input type="number" 
                                    class="form-control" 
                                    formControlName="tercero_celular"
                                    placeholder="*Celular contacto">
                            <label class="error mt-2 text-danger" 
                                    for="tercero_celular" 
                                    *ngIf="campoNoValido('tercero_celular')">*Digite Celular</label>
                        </div>
                        
                    </div>
                            
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Capacidad Equipo Cotizar:</label>
                            <select class="form-control" formControlName="cotcapacidad_id">
                                <option value="" selected>*Escoja Capacidad</option>
                                <option [value]="capacidad['id']" *ngFor="let capacidad of capacidades">{{ capacidad['valor']}}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                    for="cotcapacidad_id" 
                                    *ngIf="campoNoValido('cotcapacidad_id')">*Escoja capacidad</label>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Voltaje Equipo Cotizar:</label>
                            <select class="form-control" formControlName="cotvoltaje_id">
                                <option value="" selected>*Escoja voltaje</option>
                                <option [value]="voltaje['id']" *ngFor="let voltaje of voltajes">{{ voltaje['nombre']}}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                    for="cotvoltaje_id" 
                                    *ngIf="campoNoValido('cotvoltaje_id')">*Escoja voltaje</label>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Circuitos Equipo Cotizar:</label>
                            <select class="form-control" formControlName="cotcircuito_id">
                                <option value="" selected>*Escoja Circuito</option>
                                <option [value]="circuito['id']" *ngFor="let circuito of circuitos">{{ circuito['nombre']}}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                    for="cotcircuito_id" 
                                    *ngIf="campoNoValido('cotcircuito_id')">*Escoja Circuitos</label>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Cantidad Equipos:</label>
                            <input type="number" 
                                    class="form-control" 
                                    formControlName="cantidad"
                                    placeholder="*Cantidad Equipos">
                            <label class="error mt-2 text-danger" 
                                    for="cantidad" 
                                    *ngIf="campoNoValido('cantidad')">*Digite Cantidad Equipos</label>
                        </div>
                        
                    </div>

                    <div class="col-lg-12" *ngIf="!oculto_producto" >
                        <div class="form-group">
                            <label for="">Producto:</label>
                            <select class="form-control" formControlName="cotproducto_id">
                                <option value="" selected>*Escoja equipo</option>
                                <option [value]="equipo['id']" *ngFor="let equipo of equipos">{{ equipo['equipo']['modelo'] }} - {{ equipo['equipo']['nombre'] }}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                for="cotproducto_id" 
                            *ngIf="campoNoValido('cotproducto_id')">*Escoja Equipo: </label>
                        </div>
                        
                    </div>

                    <div class="col-lg-12" *ngIf="!oculto_producto && !compresor_cot" >
                        <div class="form-group">
                            <label for="">Compresor:</label>
                            <select class="form-control" formControlName="compresor_id">
                                <option value="" selected>*Escoja compresor</option>
                                <option [value]="compresor['equipo_id']" *ngFor="let compresor of compresores">{{ compresor['equipo']['modelo'] }} - {{ compresor['equipo']['nombre'] }}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                for="compresor_id" 
                            *ngIf="campoNoValido('compresor_id')">*Escoja compresor: </label>
                        </div>
                        
                    </div>

                    <div class="col-lg-12" *ngIf="compresor_cot" >
                        <div class="form-group">
                            <label for="">Compresor:</label>
                            <select class="form-control" formControlName="compresor_id">
                                <option [value]="compresor_cot['id']" >{{ compresor_cot['modelo'] }} - {{ compresor_cot['nombre'] }}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                for="compresor_id" 
                            *ngIf="campoNoValido('compresor_id')">*Escoja compresor: </label>
                        </div>
                        
                    </div>

                    <div class="col-lg-12" *ngIf="!oculto_producto && !intercambiador_cot" >
                        <div class="form-group">
                            <label for="">Intercambiador:</label>
                            <select class="form-control" formControlName="intercambiador_id">
                                <option value="" selected>*Escoja intercambiador</option>
                                <option [value]="intercambiador['equipo_id']" *ngFor="let intercambiador of intercambiadores">{{ intercambiador['equipo']['modelo'] }} - {{ intercambiador['equipo']['nombre'] }}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                for="intercambiador_id" 
                            *ngIf="campoNoValido('intercambiador_id')">*Escoja intercambiador: </label>
                        </div>
                        
                    </div>

                    <div class="col-lg-12" *ngIf="intercambiador_cot">
                        <div class="form-group">
                            <label for="">Intercambiador:</label>
                            <select class="form-control" formControlName="intercambiador_id">
                                <option [value]="intercambiador_cot['id']">{{ intercambiador_cot['modelo'] }} - {{ intercambiador_cot['nombre'] }}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                for="intercambiador_id" 
                            *ngIf="campoNoValido('intercambiador_id')">*Escoja intercambiador: </label>
                        </div>
                        
                    </div>

   
                    
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Observacion Equipo Cotizar:</label>
                            <textarea class="form-control" 
                                      formControlName="observacion_cliente" 
                                      rows="5">
                            </textarea>
                        </div>
                        
                    </div>
   
                </div>
            
                <button type="submit" class="btn btn-inverse-primary">Editar</button> | <button type="button" class="btn btn-secondary" (click)="editarcancelar()">Cancelar</button>
            </fieldset>
        </form>

        <div class="row mt-5" *ngIf="errors.length>0">
            <div class="col-12">
                <div class="alert alert-danger " role="alert">
                    <ul>
                        <li *ngFor="let error of errors" >{{ error }}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>



