<div class="card">
    <div class="card-body">
        <h4 class="card-subtitle">Editar Informe</h4>

        <form class="cmxform" (ngSubmit)="editar_presupuesto()" [formGroup]="formPresupuesto" >
            <fieldset>

              
                <div class="row">

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Informe:</label>
                            <select formControlName="infor_v_semana_id" 
                                    class="form-control">
                                <option value="" selected>Seleccionar</option>
                                <option value="{{ semana['id']}}" *ngFor="let semana of semanas">{{ semana['nombre'] }}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                    for="infor_v_semana_id" 
                                    *ngIf="campoNoValido('infor_v_semana_id')">*Escoja informe fecha</label>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Presupuesto Valor:</label>
                            <input type="number" 
                                   formControlName="presupuesto_valor"
                                   class="form-control"
                                   placeholder="Digite valor asignado" />
                            <label class="error mt-2 text-danger" 
                                    for="presupuesto_valor" 
                                    *ngIf="campoNoValido('presupuesto_valor')">*Digite valor</label>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Venta real:</label>
                            <input type="number" 
                                   formControlName="venta_real"
                                   class="form-control"
                                   placeholder="Digite valor venta" />
                            <label class="error mt-2 text-danger" 
                                    for="venta_real" 
                                    *ngIf="campoNoValido('venta_real')">*Digite valor</label>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select formControlName="infor_v_estado_id" 
                                    class="form-control">
                                <option value="" selected>Seleccionar</option>
                                <option value="{{ estado['id']}}" *ngFor="let estado of estados">{{ estado['nombre'] }}</option>
                            </select>
                            <label class="error mt-2 text-danger" 
                                    for="infor_v_estado_id" 
                                    *ngIf="campoNoValido('infor_v_estado_id')">*Escoja estado</label>
                        </div>
                    </div>
                
                </div>
            
                <button type="submit" class="btn btn-primary">Editar</button>
            </fieldset>
        </form>

        <div class="row mt-5" *ngIf="errors.length>0">
            <div class="col-12">
                <div class="alert alert-danger " role="alert">
                    <ul>
                        <li *ngFor="let error of errors" >{{ error }}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="accordion basic-accordion mt-3" id="accordion" role="tablist">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h6 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <i class="card-icon mdi mdi-checkbox-marked-circle-outline"></i>Resumen Cotizaciones: </a>
                </h6>
            </div>
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <app-informeventa-usuario-cot-index [presupuesto_id]="presupuesto['id']" *ngIf="presupuesto"></app-informeventa-usuario-cot-index>
                </div>
            </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h6 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="card-icon mdi mdi-account-multiple-outline"></i>Resumen Ventas Redes Sociales, Web y otros.</a>
        </h6>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <app-informeventa-usuario-redeotro-index [presupuesto_id]="presupuesto['id']" *ngIf="presupuesto"></app-informeventa-usuario-redeotro-index>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h6 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="card-icon mdi mdi-message-text-outline"></i>Análisis de Cotizaciones </a>
        </h6>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body"> 
            <app-informeventa-usuario-analisis-index [presupuesto_id]="presupuesto['id']" *ngIf="presupuesto"></app-informeventa-usuario-analisis-index>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingFour">
        <h6 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <i class="card-icon mdi mdi-account-multiple-outline"></i>Post Venta</a>
        </h6>
      </div>
      <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
            <app-informeventa-usuario-postventa-index [presupuesto_id]="presupuesto['id']" *ngIf="presupuesto"></app-informeventa-usuario-postventa-index>
        </div>
      </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingFive">
          <h6 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <i class="card-icon mdi mdi-account-multiple-outline"></i>BlackOrder</a>
          </h6>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
              <app-informeventa-usuario-backorder-index [presupuesto_id]="presupuesto['id']" *ngIf="presupuesto"></app-informeventa-usuario-backorder-index>
          </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingSix">
          <h6 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <i class="card-icon mdi mdi-account-multiple-outline"></i>Toneladas Vendidas</a>
          </h6>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
              <app-informeventa-usuario-tonelada-index [presupuesto_id]="presupuesto['id']" *ngIf="presupuesto"></app-informeventa-usuario-tonelada-index>
          </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingSeven">
          <h6 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              <i class="card-icon mdi mdi-account-multiple-outline"></i>Informe cotizaciones Director</a>
          </h6>
        </div>
        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body">
              <app-informeventa-usuario-cotdir-index [presupuesto]="presupuesto" *ngIf="presupuesto"></app-informeventa-usuario-cotdir-index>
          </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingEight">
          <h6 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              <i class="card-icon mdi mdi-account-multiple-outline"></i>Informe PostVenta Director</a>
          </h6>
        </div>
        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="card-body">
              <app-informeventa-usuario-postvdir-index [presupuesto]="presupuesto" *ngIf="presupuesto"></app-informeventa-usuario-postvdir-index>
          </div>
        </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingNine">
        <h6 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            <i class="card-icon mdi mdi-message-text-outline"></i>Actividades informe Director</a>
        </h6>
      </div>
      <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
        <div class="card-body">
            <app-informeventa-usuario-actividaddir-index [presupuesto]="presupuesto" *ngIf="presupuesto"></app-informeventa-usuario-actividaddir-index>
        </div>
      </div>
    </div>

</div>
