<div class="row mt-2">
    <div class="col-10">

        <div class="card">
            <div class="card-body">
                <h4 class="card-subtitle">Registro Familias</h4>

                <form class="mt-4 cmxform" (ngSubmit)="guardar()" [formGroup]="form_familia" >
                    <fieldset>
                        <div class="form-row">
                            
                            <div class="form-group col-md-12">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control"
                                       formControlName="nombre"
                                       placeholder="Nombre">
                                <label class="error mt-2 text-danger" 
                                       for="nombre" 
                                       *ngIf="campoNoValido('nombre')">*Digite Nombre / Minimo 3 Caracteres</label>
                            </div>

                            
                        </div>

                        <div class="row">
                                      
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Descripcion:</label>
                                    <textarea formControlName="descripcion1" 
                                              rows="10"
                                              class="form-control"
                                              placeholder="Escriba descripción familia equipo..."></textarea>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                                      
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Categorias:</label>
                                    <select class="form-control" 
                                            multiple 
                                            formControlName="categorias">
                                        <option selected>*Escoje categoria</option>
                                        <option value="{{ categoria['id']}}" *ngFor="let categoria of categorias_select">{{ categoria['equipo_grupo_nombre'] }} - {{ categoria['nombre'] }}</option>
                         
                                    </select>
                                    <label class="error mt-2 text-danger" 
                                      for="categorias" 
                                      *ngIf="campoNoValido('categorias')">*Escoja Categorias</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Imágen:</label>
                                <div>
                                    <img *ngIf="!imagesSubirService.imgTemp" src="./assets/images/no-image.png" alt="" width="200px">
                                    <img *ngIf="imagesSubirService.imgTemp" [src]="imagesSubirService.imgTemp" alt="" width="200px">
                                </div>
                                <input type="file" 
                                       class="form-control" 
                                       (change)="file_imagen($event.target.files[0])">
                            </div>
                    
                        </div>
                    
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </fieldset>
                </form>

            </div>
        </div>

    </div>
</div>



