<div class="row">
    <div class="col-10">

        

        <div class="row mb-2">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-subtitle">Pedido</h4>
                        
                        <table *ngIf="!loading" class="table table-bordered table-hover table-responsive">
                            <tr>
                                <td><strong>Nombre:</strong></td>
                                <td>{{ pedido['tercero_documento']}} - {{ pedido['tercero_nombre']}}</td>
                            </tr>

                        </table>
                        
                    </div>
                </div>

            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        
                        <table *ngIf="pedido" class="table table-bordered table-hover table-responsive">
                            <tr>
                                <td><strong>Documento:</strong></td>
                                <td>{{ pedido['documento']}}</td>
                                <td><strong>Estado:</strong></td>
                                <td>{{ pedido['pedidoestado_nombre']}}</td>
                            </tr>
                            <tr>
                                <td colspan="4"><strong>F.Recibido: &nbsp; {{ pedido['fecha_recibido']}}</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Guia:</strong></td>
                                <td>{{ pedido['guia'] }}</td>
                                <td><strong>Dirección:</strong></td>
                                <td>{{ pedido['direccion']}} - {{ pedido['ciudad_nombre']}}</td>
                            </tr>
                            <tr>
                                <td colspan="4"><strong>Observación interna:</strong></td>
                            </tr>
                            <tr>
                                <td colspan="4">{{ pedido['observacion_interna']}}</td>
                            </tr>
                            <tr>
                                <td colspan="4"><strong>Observación publica:</strong></td>
                            </tr>
                            <tr>
                                <td colspan="4">{{ pedido['observacion_publica']}}</td>
                            </tr>
                            
                        </table>
                    </div>

                </div>
            </div>
        </div>

 
        
    </div>

</div>
