<div class="row">
    <div class="col-8">

        <div class="row mb-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-subtitle">Pedido</h4>
                        <table *ngIf="pedido" class="table table-responsive">
                            <tr>
                                <td>Documento:</td>
                                <td>{{ pedido['pedidotipo_nombre']}} - {{ pedido['documento']}}</td>
                                <td>F.Recibido:</td>
                                <td>{{ pedido['fecha_recibido']}}</td>
                            </tr>
                            <tr>
                                <td>F.Entrega:</td>
                                <td>{{ pedido['fecha_entrega']}}</td>
                                <td>Estado:</td>
                                <td>{{ pedido['pedidoestado_nombre']}}</td>
                            </tr>
                            
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        
                        <table *ngIf="!loading" class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Cantidad</th>
                                    <th>Descripción</th>
                                    <th>Observación</th>
                                    <th>Opción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ordenes">
                                    <td>{{ item['equipo_codificacion']}} - {{ item['equipo_modelo']}} -{{ item['equipo_nombre']}}</td>
                                    <td>{{ item['cantidad']}}</td>
                                    <td>
                                        <div><strong>No.Solidwork:</strong>  {{ item['solidwork'] }} </div>   
                                        <div class="mt-2"><strong>Op. Ensamble:</strong>  {{ item['op_ensamble'] }} </div>   
                                        <div class="mt-2"><strong>Op. Laminado:</strong>  {{ item['op_laminado'] }} </div>   
                                        <div class="mt-2"><strong>Op. Serpertin:</strong>  {{ item['op_serpertin'] }} </div>   
                                        <div class="mt-2"><strong>Op. Eléctrica:</strong>  {{ item['op_electrica'] }} </div>   
                                        <div class="mt-2"><strong>Op. Refri:</strong>  {{ item['op_refri'] }} </div>   
                                    </td>
                                    <td>
                                        {{ item['observacion_interna'] }}
                                    </td>
                                    <td>
                                        <div class="mb-2">
                                            <button type="button" class="btn btn-inverse-secundary" (click)="editar_orden(item)">Editar</button>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-inverse-danger" (click)="eliminar_orden(item)" [disabled]="operacion=='editar'">Quitar</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row mt-5" *ngIf="errors.length>0">
                            <div class="col-12">
                            <div class="alert alert-danger " role="alert">
                                <ul>
                                    <li *ngFor="let error of errors" >{{ error }}</li>
                                </ul>
                            </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-4">
        <app-registro-orden [pedido]="pedido" [ordenes_array] = "ordenes" *ngIf="!loading && operacion =='guardar'" (orden_nuevo)="ordenes = $event"></app-registro-orden>
        <app-editar-orden [orden_id]="orden_id" [pedido]="pedido" [ordenes_array] = "ordenes" *ngIf="!loading && operacion =='editar'" (orden_nuevo)="ordenes = $event" (operacion_editar)="operacion = $event"></app-editar-orden>
    </div>

</div>
