<div class="row mt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-subtitle">Invitado</h4>


                <div *ngIf="tercero_id">
                    <div><strong>Sucursal:</strong> {{ tercero_id['fiestasucursal_nombre'] | uppercase}}</div>
                    <div><strong>Tipo:</strong> {{ tercero_id['fiestatipo_nombre'] | uppercase}}</div>
                    <div *ngIf="tercero_id['fiestaestado_id']==4"><strong class="mr-2">Estado:</strong><label class="badge badge-success">{{ tercero_id['fiestaestado_nombre'] | uppercase}}</label></div>
                    <div *ngIf="tercero_id['fiestaestado_id']==2"><strong class="mr-2">Estado:</strong><label class="badge badge-warning">{{ tercero_id['fiestaestado_nombre'] | uppercase}}</label></div>
                    <div *ngIf="tercero_id['fiestaestado_id']==3"><strong class="mr-2">Estado:</strong><label class="badge badge-dark">{{ tercero_id['fiestaestado_nombre'] | uppercase}}</label></div>
                    <div *ngIf="tercero_id['fiestaestado_id']==1"><strong class="mr-2">Estado:</strong><label class="badge badge-danger">{{ tercero_id['fiestaestado_nombre'] | uppercase}}</label></div>
                    <div><strong>Documento:</strong> {{ tercero_id['documento']}}</div>
                    <div><strong>Nombre:</strong> {{ tercero_id['nombre'] | uppercase}}</div>
                    <div><strong>Cupos:</strong> {{ tercero_id['cupos']}}</div>
                    <div><strong>Contácto:</strong> {{ tercero_id['contacto']}}</div>
                    <div><strong>InvitadoDe:</strong> {{ tercero_id['documentoDe']}} -  {{ tercero_id['documentoDeNombre']}}</div>
                    <qrcode [qrdata]="myAngularxQrCode" [width]="100" [errorCorrectionLevel]="'M'" [margin]=4></qrcode>
                </div>

            </div>

        </div>
    </div>
</div>
