<div class="row mt-2">
    <div class="col-10">

        
        <div class="card mt-3">
            <div class="card-body">
                <h4 class="card-subtitle">Listado Principal por capacidades</h4>
                <table class="table table-bordered table-inverse table-responsive">
                    <thead class="thead-inverse">
                        <tr >
                            <th>Codigo</th>
                            <th>Referencia</th>
                            <th>Descripcion1</th>
                            <th>Descripcion2</th>
                            <th>Unidad</th>
                            <th>Tipo</th>
                            <th>Inventario</th>
                            <th>Costo</th>
                            <th>Estado</th>
                            <th>Opcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lpMateriales; let i=index">
                            <td>{{ item['codigo']}}</td>
                            <td>{{ item['referencia']}}</td>
                            <td>{{ item['descripcion1']}}</td>
                            <td>{{ item['descripcion2']}}</td>
                            <td>{{ item['unidad']}}</td>
                            <td>{{ item['tipo_accesorio']['nombre']}}</td>
                            <td>{{ item['inventario'] | number}}</td>
                            <td>{{ item['costo'] | number}}</td>
                            <td>{{ item['estado']['nombre']}}</td>
                  
                            <td>
                                <div class="mb-2">
                                    <button type="button" class="btn btn-secondary" (click)="editarListado(i,item,select_estado.value,observacion.value)">Editar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                        
                </table>
            </div>
        </div>
   
    </div>

    <div class="col-2">
        <app-registro-lpmaterial [lpMateriales_arr]="lpMateriales" *ngIf="!loading && operacion =='guardar'" (lpMaterial_form)="lpMateriales = $event"></app-registro-lpmaterial>
    </div>
 

