<div class="content-wrapper">
    <div class="row ">
        <div class="col-md-8 col-xs-12 m-auto">

            <div class="row ">
                <div class="col-md-6 col-xs-12">

                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-subtitle">Consulta Pedido</h4>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                                <form class="d-flex" [formGroup]="formBuscarPedido" (ngSubmit)="buscar_pedido()">
                        
                                    <input class="form-control me-2"
                                        formControlName="buscarPedido"
                                        type="search" 
                                        placeholder="Digite su Nit/CC" aria-label="Search">
                                    <button class="btn btn-outline-primary"
                                            type="submit">BuscarPedido</button>
                                </form>
                                <div class="error mt-2 text-danger" 
                                            for="buscarPedido" 
                                            *ngIf="campoNoValido('buscarPedido')">*Debe digitar Nit/CC: </div>

                                <div class="row mt-5" *ngIf="errors.length>0">
                                    <div class="col-12">
                                        <div class="alert alert-danger " role="alert">
                                            <ul>
                                                <li *ngFor="let error of errors" >{{ error }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    
                    <app-loading *ngIf="loading"></app-loading>
                    
                    <div *ngIf="!loading && pedidos.length>0">
                        <div class="card mb-4" *ngFor="let pedido of pedidos">
                            <div class="card-body">
                                
                                <table class="table table-responsive">
                                    <tr>
                                        <td><strong>Nombre:</strong></td>
                                        <td>{{ pedido['tercero_documento']}} - {{ pedido['tercero_nombre']}}</td>
                                        <td><strong>FechaCreación:</strong></td>
                                        <td>{{ pedido['fecha_recibido']}}</td>
                                        <td><strong>Guia#:</strong></td>
                                        <td>{{ pedido['guia']}}</td>
                                        <td><strong>Dirección:</strong></td>
                                        <td>{{ pedido['direccion']}} - {{ pedido['ciudad_nombre']}}</td>
                                    </tr>
                                    <tr>
                                        <td ><strong>Notas:</strong></td>
                                        <td colspan="7">{{ pedido['observacion_publica']}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Archivos:</strong></td>
                                        <td colspan="7">
                                            <div *ngFor="let archivo of pedido['archivos']">
                                                <div class="mb-2"><a [href]="archivo['url']|imagen" target="_blank" >{{ archivo['nombre']}}</a></div>
                                            </div>
                                        </td>
                                    </tr>
              
                                </table>
                            
                                <div [ngSwitch]="pedido['pedidoestado_id']">
                                    <div *ngSwitchCase="1"><label class="badge badge-primary">{{ pedido['pedidoestado_nombre']}}</label></div>
                                    <div *ngSwitchCase="2"><label class="badge badge-warning">{{ pedido['pedidoestado_nombre']}}</label></div>
                                    <div *ngSwitchCase="3"><label class="badge badge-danger">{{ pedido['pedidoestado_nombre']}}</label></div>
                                    <div *ngSwitchCase="4"><label class="badge badge-success">{{ pedido['pedidoestado_nombre']}}</label></div>
                                    <div *ngSwitchDefault>{{ pedido['pedidoestado_nombre']}}</div>
                                </div>
                                    
                            </div>
                        </div>
                    </div>

                            
                </div>
            </div>
            
        

        </div>
    </div>
</div>


