
<app-loading *ngIf="loading"></app-loading>  

<div class="row mt-2">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h4 class="card-subtitle">Listado de Bodegas</h4>
                
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bodega of almacenes">
                            <td>{{ bodega['almacen_nombre']}}</td>
                            <td>
                                <button (click)="usuarios_bodega(bodega['almacen_id'])" class="btn btn-secondary" >Usuarios</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
       
    </div>
</div>



