<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs bg-light">
                    <li class="nav-item">
                       <a class="nav-link" routerLink="/main/grupos/registrar"  aria-current="page" >Crear Grupo|</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-8">

        <div class="card">
            <div class="card-body">
                <h4 class="card-subtitle">Grupos Equipos</h4>
                
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let grupo of grupos">
                            <td>{{ grupo['nombre'] | uppercase}}</td>
                            <td *ngIf="grupo['estado_id']==1"><label class="badge badge-success">{{ grupo['estado_nombre'] | uppercase}}</label></td>
                            <td *ngIf="grupo['estado_id']==2"><label class="badge badge-danger">{{ grupo['estado_nombre'] | uppercase}}</label></td>
                            <td>
                                <a class="btn btn-secondary btn-sm" routerLink="/main/grupos/editar/{{grupo['id']}}"><i class="mdi mdi-pencil"></i>Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
       
    </div>
</div>

