<div class="container-scroller landing-page">
    <div class="container-fluid top-banner">
      
      <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="row flex-grow">
          <div class="col-md-8 d-lg-flex flex-row mx-auto">
            <a class="navbar-brand" routerLink="/pedidos">
              <img src="../../../assets/images/logo.png" alt="logo"  /> </a>
            <button class="navbar-toggler collapsed float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon ti ti-menu text-black"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link btn btn-link" routerLink="/pedidos" routerLinkActive="active">HOME</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
  
    </div>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
 
    <footer class="container-fluid footer">
   
      <div class="row py-2 footer-bottom">
        <div class="col-md-8 mx-auto">
          <div class="container-fluid clearfix">
            <span class="d-block text-center text-sm-left d-sm-inline-block">Ferreteria La Bonita Copyright © 2023 All rights reserved.</span>

          </div>
        </div>
      </div>
    </footer>
</div>


