<div class="row mt-2">
    <div class="col-10">
        <div class="card">
            <div class="card-body">
                <h4 class="card-subtitle">Editar Usuario</h4>
                <form class="mt-4" [formGroup]="form_usuarios" (ngSubmit)="editar()" >

                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input formControlName="name"
                                       type="text" 
                                       class="form-control" >
                                <label class="error mt-2 text-danger" 
                                       for="name" 
                                       *ngIf="campoNoValido('name')">*Digite Nombre / Minimo 3 Caracteres</label>
                          
                            </div>
                        </div>    

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input formControlName="email" 
                                       type="text" 
                                       class="form-control" >
                                <label class="error mt-2 text-danger" 
                                       for="email" 
                                       *ngIf="campoNoValido('email')">*Digite email valido</label>
                                
                            </div>
                        </div>    

                    </div>    

       
                    <div class="row">

            
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Password</label>
                                <input formControlName="password" 
                                       type="password" 
                                       class="form-control" >
                                <label class="error mt-2 text-danger" 
                                       for="password" 
                                       *ngIf="campoNoValido('password')">*Digite password</label>
                                
                            </div>
                        </div> 
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Confirma password</label>
                                <input formControlName="password_confirmation" 
                                       type="password" 
                                       class="form-control" >
                                <label class="error mt-2 text-danger" 
                                       for="password_confirmation" 
                                       *ngIf="campoNoValido('password_confirmation')">*Digite password</label>
                                
                            </div>
                        </div> 

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Imágen:</label>
                                <div>
                                    <img *ngIf="!imagesSubirService.imgTemp" [src]="imagen_servidor | imagen:'thumb'" alt="" width="100px">
                                    <img *ngIf="imagesSubirService.imgTemp" [src]="imagesSubirService.imgTemp" alt="" width="100px">
                                </div>
                                <input type="file"
                                    accept="image/png,image/jpeg" 
                                    class="form-control" 
                                    (change)="file_imagen($event.target.files[0])">
                            </div>
                        </div>
                        
                        
                    </div>

                    <button type="submit" class="btn btn-primary">Editar</button>
                        
                </form>

                <div class="row mt-5" *ngIf="errors.length>0">
                    <div class="col-12">
                      <div class="alert alert-danger " role="alert">
                         <ul>
                             <li *ngFor="let error of errors" >{{ error }}</li>
                         </ul>
                      </div>
                    </div>
                </div>
                <div class="row p-5" *ngIf="alert">
                    <div class="col-12">
                      <div class="alert alert-success" role="success">
                        <strong>{{ alert }}</strong>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




